.home {
	margin-top: 25%;
}

.main {
	position: relative;
	top: 20%;
	left: 25%;
	background-color: rgb(255, 255, 255);
	overflow: auto;
	width: 50%;
	height: fit-content;
	color: rgb(0, 0, 0);
	border: 2px solid rgb(0, 0, 0);
	padding: 10px;
}

#title {
	text-align: center;
}

#close {
	text-align: right;
    z-index: 1;
    
}
#close .MuiSvgIcon-root{
    font-size: 35px;
    cursor: pointer;
}
.form {
	height: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btnB {
	margin-left: 5px;
}

#buttons {
	text-align: right;
	padding: 2px;
}