/*StepOne*/
#mark-title{
    text-align: left;
    margin-bottom: 10px;
}
#car-mark p{
    text-align: left;
}

/*StepTwo*/

#service{
    text-align: left;
    margin-bottom: 10px;
}

#count{
    text-align: right;
}